<div class="form-container">
    <div class="card-header">فرم جستجو</div>
    <form action="{% url 'search' %}" method="get" class="search-form">
        <div class="input-container">
            <input type="text" name="search_input" placeholder="جستجوی خود را وارد کنید"
                   class="search-input" value="{{ request.GET.search_input }}" required>
        </div>
        <input type="submit" value="جستجو" class="search-submit">
    </form>
    {% if request.user.is_authenticated %}
        <p>{{ request.user.first_name }} سلام</p>
        <a class="login-p" href="{% url 'logout' %}">خروج</a>
        <a href="{% url 'change_password' %}">تغییر رمز عبور</a>
    {% else %}
        <a class="login-p" href="{% url 'login' %}">ورود به سایت</a>
    {% endif %}
    <a class="login-p" href="{% url 'index' %}">صفحه اصلی</a>
</div>
