{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="auto">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}عنوان پیش‌فرض{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
</head>
<body>
    <header>
        {% include 'blog/partials/header.html' %}
        {% include 'blog/partials/navigation.html' %}
    </header>

    <main>
        {% block content %}{% endblock %}
        <div>
            {% include 'blog/partials/pagination.html' %}
        </div>
    </main>

    {% block extra_content %}{% endblock %}

    <footer>
        {% include 'blog/partials/footer.html' %}
    </footer>
</body>
</html>
