{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="auto">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <title>{% block title %}عنوان پیش‌فرض{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/post-list.css'%}">
    <link rel="stylesheet" href="{% static 'blog/css/post-details.css'%}">
    <link rel="stylesheet" href="{% static 'blog/css/user_account.css'%}"
    <link rel="stylesheet" href="{% static 'blog/css/share_post.css'%}">
</head>
<body>
    <header>
        {% include 'blog/partials/header.html' %}
        {% include 'blog/partials/navigation.html' %}
    </header>

    <main>
        {% block content %}{% endblock %}
        <div>
            {% include 'blog/partials/pagination.html' %}
        </div>
    </main>

    {% block extra_content %}{% endblock %}

    <footer>
        {% include 'blog/partials/footer.html' %}
    </footer>

    <script src="{% static 'blog/js/post-list.js' %}"></script>
    <script src="{% static 'blog/js/post-details.js' %}"></script>
    <script src="{% static 'blog/js/user_account.js' %}"></script>
</body>
</html>
