{% extends 'parent/base.html' %}

{% block title %} لیست پست‌ها {% endblock %}

{% block content %}
    <h1>لیست پست‌ها</h1>

    {% for post in posts %}
        <div class="post-item">
            <a href="{{ post.get_absolute_url }}">
                <h2>{{ post.title }}</h2>
                <p>نویسنده: {{ post.author }}</p>
            </a>
        </div>
    {% empty %}
        <p>هیچ پستی موجود نیست.</p>
    {% endfor %}

    <!-- ارسال مقدار صحیح برای صفحه‌بندی -->
    {% include 'blog/partials/pagination.html' with posts=page_obj %}

{% endblock %}
