{% extends 'parent/base.html' %}
{% load blog_tags %}

{% block title %}لیست پست‌ها{% endblock %}

{% block content %}

    <div class="container">
        <h1 class="page-title">لیست پست‌ها</h1>

        {% if tag %}
            <p class="tag-filter">پست‌ها بر اساس تگ <strong>{{ tag.name|escape }}</strong> فیلتر شده‌اند.</p>
        {% endif %}

        {% for post in posts %}
            <div class="post-item">
                <a href="{{ post.get_absolute_url }}" class="post-link">
                    <h2 class="post-title">{{ post.title }}</h2>
                    <p class="post-title">{{ post.body }}</p>
                    <p class="post-author"><i class="fas fa-user"></i> نویسنده: {{ post.author.get_full_name|default:post.author.username }}</p>
                </a>
                <p>برچسب‌ها:
                    {% for tag in post.tags.all %}
                        <a href="{% url 'postlist_tag' tag.slug %}" class="post-tag"><i class="fas fa-tag"></i> {{ tag.name|escape }}</a>
                    {% empty %}
                        <span class="no-tags">بدون برچسب</span>
                    {% endfor %}
                </p>
            </div>
        {% empty %}
            <p class="empty-message">هیچ پستی موجود نیست.</p>
        {% endfor %}

        {% include 'blog/partials/pagination.html' with posts=posts %}

        <div>
            {% total_posts %}
        </div>

    </div>  {# بسته شدن صحیح div اصلی #}

{% endblock %}
