{% extends 'parent/base.html' %}

{% block content %}
  <h1 style="color: #007fff; text-align: center;">فرم اطلاعات شخصی {{ account.user.first_name|default:'' }}</h1>

  <form method="POST">
    {% csrf_token %}

    <label for="first_name">نام:</label>
    <input type="text" id="first_name" name="first_name" required
           value="{% if form.first_name.value %}{{ form.first_name.value }}{% else %}{{ account.user.first_name|default:'' }}{% endif %}">
    <br>
    <label for="last_name">نام خانوادگی:</label>
    <input type="text" id="last_name" name="last_name" required
           value="{% if form.last_name.value %}{{ form.last_name.value }}{% else %}{{ account.user.last_name|default:'' }}{% endif %}">
    <br>
    <label for="phone">شماره تلفن:</label>
    <input type="text" id="phone" name="phone" readonly value="{{ account.phone|default:'' }}">
    <br>

    <label for="address">آدرس:</label>
    <input type="text" id="address" name="address" required value="{{ account.address|default:'' }}">
    <br>
    <label>جنسیت:</label>
    <input type="radio"  id="male" name="gender" value="M" {% if account.gender == "M" %}checked{% endif %}>
    <label for="male">مرد</label>

    <input type="radio" id="female" name="gender" value="F" {% if account.gender == "F" %}checked{% endif %}>
    <label for="female">زن</label>
    <br>

    <input type="submit" value="ثبت">
  </form>
{% endblock %}
