{% extends 'parent/base.html' %}

{% block title %} اشتراک‌گذاری پست {% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">اشتراک‌گذاری پست</h1>

        {% if sent %}
            <div class="alert alert-info" role="alert">
                پست <strong>{{ post.title|escape }}</strong> شما با موفقیت به <strong>{{ form.cleaned_data.to|escape }}</strong> ارسال شد.
            </div>
        {% endif %}

        <div class="share-post">
            <form method="post" class="form-container">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        <div class="form-field">
                            {{ field }}
                        </div>
                        {% if field.errors %}
                            <div class="invalid-feedback">
                                {% for error in field.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

                <button type="submit" class="btn btn-primary btn-block">ارسال</button>
            </form>

            <a href="{% url 'post_details' post.slug post.id %}" class="back-link">بازگشت به لیست پست‌ها</a>
        </div>

        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                <strong>لطفاً خطاهای زیر را بررسی کنید:</strong>
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li><strong>{{ field.label }}:</strong> {{ error }}</li>
                        {% endfor %}
                    {% endfor %}

                    {% if form.non_field_errors %}
                        <li><strong>خطای کلی:</strong> {{ form.non_field_errors }}</li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}


